.LoginWrapper {
  height: 100vh;
  width: 100vw;
  background-color: var(--B);
  color: var(--Base);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  
  /* padding-left: 10%; */
  /* background: linear-gradient(360deg,var(--SB)-25%,var(--SG)10%, var(--B)50%, var(--BB)) 60%; */

}

.LoginHeroImage{
  position: absolute;
  bottom: 0;
  right: 12.5vw;
  z-index: 1;
  min-height: 90%;
  height: 95%;
}

.LoginHeroImageBG{
  position: absolute;
  /* bottom: 0; */
  top:0;
  right: -5rem;
  z-index: 0;
  min-height: 120%;
  height: 140%;
  backdrop-filter: blur(1rem);
  filter: blur(2rem);
  opacity: 0.5;
  mix-blend-mode:screen;
}

.LWZ{
  z-index: 1;
}

.LoginHeader {
  margin-bottom: 2rem;
  min-width: 30rem;
  /* background-color: yellowgreen; */
}

.LoginHeader h2 {
  font-family: "Coco";
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-weight: normal;
}
.LoginHeader p {
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  color: var(--SY);
  text-align: justify;
  max-width: 40rem;
  /* mix-blend-mode: luminosity; */
}



.LoginForm {
  /* background-color: var(--B);
  box-shadow: 0 0 1rem var(--SB);
  */
  /* min-height: 50vh; */
  border-radius: 1rem;
  min-width: 25rem;
  width: 40rem;
  max-width: 80vw;
  padding: 3rem 2rem 5rem 2rem;
  backdrop-filter: blur(0.2rem);
  background: rgba(0, 0, 0, 0.35);
  /* box-shadow: 0 0 0.5rem 0.1rem var(--SBB); */
  /* background-blend-mode: difference; */
  /* background: var(--B); */
  /* background: linear-gradient(360deg,var(--SG)-20%, var(--B)30%, var(--BB)); */
  margin-left: 5rem;
  /* margin-top: 25rem; */
  z-index: 1;
  /* border: solid 0.01rem var(--SB); */
}

.FLabel {
  font-size: 1rem;
  letter-spacing: 0.45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-bottom: 0.5rem;
}

.FLabel input {
  height: 2.5rem;
  padding-left: 1rem;
  width: 100%;
  letter-spacing: 0.1rem;
  border: none;
}

.FLabel p {
  padding-left: 1rem;
}

.FInputWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 0.25rem;
  overflow: hidden;
}

.FInputWrapper svg {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem;
  /* background-color: var(--SG); */
  fill: var(--Base);
  padding: 0.5rem;
}

.AskLabel {
  margin: 0.5rem 0;
  background-color: transparent;
  border: none;
  color: var(--Base);
  text-decoration: underline;
  letter-spacing: 0.2rem;
  transition: 0.25s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: none;
  font-size: 0.75rem;
  padding-left: 1rem;

}

.AskLabel:hover {
  letter-spacing: 0.3rem;
  color: var(--Base);
  text-shadow: 0 0 0.1rem var(--SB);
}

.SignInLabel {
  width: 10rem;
  padding: 0.5rem;
  border-radius: 2.5rem;
  border: solid 0.05rem var(--Base);
  background-color: transparent;
  /* box-shadow: 0 0  2rem 0.25rem var(--SB); */
  color: var(--Base);
  transition: 0.5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  align-self: end;
  justify-self: end;
  display: flex;
  margin-top: 1rem;
  font-size: 1rem;
  cursor: none;
}

.SignInLabel:hover {
  color: var(--SB);
  background-color: var(--Base);
  letter-spacing: 0.25rem;
}
