:root {
    background-color:#696969;
    padding: 0;
    margin: 0;
    scrollbar-width: none;
    cursor: none;
  }

.AppWrapper{
  display: flex;
  flex-direction: column;
  margin:0;
  width: 100%;
}