.Orb {
  /* animation: orbin infinite 1s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
  width: 1rem;
  height: 1rem;
  background-color: var(--Base);
  z-index: 101;
  border-radius: 50%;
  box-shadow: 0rem 0rem 0.5rem 0.1rem var(--SB);
  display: flex;
  font-size: 0rem;
  position: absolute;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 2s;
  white-space: nowrap;
  color: transparent;
  letter-spacing: 0;
  left:-50vw;
}


@keyframes idleB {
  0% {
    transform: scale(1);
    letter-spacing: 0.25rem;
  }
  50% {
    transform: scale(1.25);

    letter-spacing: 0.5rem;
  }
  100% {
    transform: scale(1);

    letter-spacing: 0.25rem;
  }
}

.OrbText {
  /* background-color: var(--B); */

  color: var(--Base);
  /* box-shadow: 0rem 0rem 0.5rem 0.1rem var(--SR); */
  position: fixed;
  z-index: 100;
  font-size: 0.55rem;
  letter-spacing: 0.5rem;
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);

  text-shadow: var(--SB);
  text-align: center;
  border-radius: 1rem;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  /* mix-blend-mode: hard-light; */
  left:0;
  will-change: transform;
  transform: translateZ(0);
}

.OrbTextDot {
  background-color: var(--Base);
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 0.5rem 0.25rem var(--SB);
  /* mix-blend-mode: hard-light; */
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.OrbAlt {
  transition: all 5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Cursor {
  position: fixed;
  width: 1rem;
  height: 1rem;
  /* border-radius: 50%; */
  /* border: solid 0.1rem var(--Base); */
  /* background-color: var(--Base); */
  z-index: 1000;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: inset 0rem 0rem 0.5rem 0.005rem var(--SB), */
  /* 0rem 0rem 1rem 0.25rem var(--SB); */
  /* mix-blend-mode: hard-light; */
  transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
  will-change: transform;
  transform: translateZ(0);

}

@keyframes rotateOrb {
  0% {
    rotate:360deg;
  }
  50% {
    rotate:180deg;
  }
  100% {
    rotate:0DEG;
  }
}

.Cursor:has(> .Bloated) ~ .OrbText {
  width: 4.5rem;
  height: 4.5rem;
  translate: -1.75rem -1.75rem;
  /* background-color: var(--B); */
  /* animation: infinite rotateOrb 10s cubic-bezier(0.075, 0.82, 0.165, 1); */
}

.Cursor:has(> .Bloated) ~ .OrbText > .OrbTextDot {
  /* transform: translateX(3rem); */
  /* translate:2rem;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: infinite rotateOrb 10s cubic-bezier(0.075, 0.82, 0.165, 1); */
  /* opacity: 0; */

}

.Cursor:has(> .Bloated) ~ .OrbAlt > .OrbTextDot {
  /* transform: translateX(3rem); */
}


.Bloated {
  text-align: center;
  letter-spacing: 0.25rem;
  font-size: 0.75rem;
  color: var(--B);
  box-shadow: 0rem 0rem 0.5rem 0.1rem var(--SB);
  background-color: var(--Base);
  /* border: solid var(--Base) 0.1rem; */
  mix-blend-mode: normal;
  color: transparent;
  border-radius: 0;
  
  /* animation: infinite cubic-bezier(0.175, 0.885, 0.32, 1.275) 5s idleB; */
}

.ClickableOn:hover .Orb{
  background-color: var(--SB);
  width: 40rem;
  height: 40rem;
}