.Footer {
  width: 100vw;
  height: 40vh;
  background-color: var(--B);
  display: flex;
  flex-direction: row;
  color: var(--Base);
  overflow: hidden;
  position: relative;
  margin-bottom: 40vh;
  backdrop-filter: blur(15rem);
  /* box-shadow: 0rem -0.5rem 0.5rem var(--B), 0rem -0.5rem 0.5rem var(--SB) ; */
  mix-blend-mode: difference;
  overflow: hidden;
  scroll-snap-align: end;
  /* border-radius: 2rem 2rem 0 0; */
  overflow: hidden;
}

.FLeft {
  position: relative;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: end;
  font-size: 10rem;
  text-overflow: clip;
  letter-spacing: -0.3rem;
  background-color: var(--b);
}

.FLeft > p {
  max-width: 50rem;
  opacity: 10%;
  text-overflow: clip;
  font-family: "Coco";
  width: 100vw;
  position: absolute;
  margin: 0%;
  padding: 0%;
  line-height: 5rem;
  font-stretch: ultra-condensed;
  filter: blur(0.25rem);
  top: -1rem;
  font-size: 10rem;
}

.FooterMotto {
  width: 100vw;
  position: absolute;
  font-size: 0.5rem;
  color: var(--Base);
  opacity: 80%;
  letter-spacing: 0.5rem;
  text-shadow: 0rem 0.1rem 0.25rem var(--SB);
  bottom: 2rem;
  left: 2.5rem;
}

.FRight {
  width: 40%;
  height: 100%;
  font-size: 0.5rem;
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  padding-top: 1rem;
}

.FRTop {
  height: 100%;
  display: flex;
  flex-direction: row;
  letter-spacing: 0.5rem;
  background-color: rgba(var(--SB), 1);
}

.FRTop .H {
  padding: 0rem 1rem;
  font-size: 1rem;
  letter-spacing: 0.75rem;
  margin-bottom: 0.5rem;
  background-color: var(--Base);
  color: var(--B);
  font-style: italic;
  opacity: 60%;
  width: 90%;
}

.FRTLeft {
  text-align: end;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 1rem;
  padding: 1rem;
}

.FRTRight {
  padding: 1rem;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0.25rem;
}

.FRTop p {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 100%;
  opacity: 60%;
  font-size: 1rem;
}

.FRTop p:hover {
  opacity: 100%;
  letter-spacing: 0.75rem;
  opacity: 100%;
  text-shadow: 0rem 0.1rem 0.25rem var(--SB);
}


.FooterBlock {
  position: fixed;
  height: 45vh;
  width: 100%;
  background-color: black;
  bottom: 0;
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: clamp(10rem, 25vh, 100rem);
  color: var(--Base);
}

.FooterBlock>p {
  position: absolute;
  font-family: "Coco";
  opacity: 0.1;
  bottom: 3vh;
}

.FRBottom {
    opacity: 50%;
    font-size: small;
    letter-spacing: 0.75rem;
    color: var(--Base);
    text-align: center;
    position: absolute;
    bottom: 1vh;
    width: 100vw;
    scroll-snap-align: end;

  }
  