.GalleryPage {
  width: 100vw;
  height: auto;
  min-height: 200vh;
  position: relative;
  /* background-color: var(--Base); */
}

/* SIDE SCOLLER */
/* 
.SideScroll {
  background-color: aqua;
  visibility: hidden;
  background-color: beige;
  width: 50vh;
  height: 30vh;
  align-self: center;
  position: absolute;
  left: 1.5vmin;
}

.AvatarPicker {
  display: flex;
  flex-direction: row;
  gap: 0.5vmin;
  font-size: larger;
}

.AvatarPicker > p {
  background-color: aqua;
  padding: 0vmin 1.5vmin;
  border-radius: 10% 10% 0% 0%;
}

.SideTrait {
  background-color: beige;
  width: 50vh;
  height: 90vh;
} */

/* IMAGE SCROLLER */

.GalleryPage > .GalleryHeader {
  width: 100vw;
  height: 100vh;
  top: 5rem;
  position: fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  opacity: 100%;
  /* background-color: aqua; */
  /* margin-top: 3vh; */
  color: var(--Base);
}

.GalleryPage > .GalleryHeader > h1 {
  font-weight: normal;
  font-size: 3rem;
  font-family: "Coco";
  text-align: center;
  letter-spacing: 1rem;
}

.GalleryPage > .GalleryHeader > p {
  width: 100vw;
  font-size: 0.7rem;
  padding-top: 0.25rem;
  letter-spacing: 1vw;
  text-align: center;
  top: 5vh;
  text-shadow: 0rem 0rem 0.15rem var(--B);
}
.GalleryBGimg {
  height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  top:0;
  object-fit: cover;
  position: fixed;
  z-index: 0;
  /* animation: sway 60s infinite; */
  display: flex;
  justify-self: center;
  align-self: center;
}
@keyframes sway {
  0%,
  100% {
    transform: rotate(-6deg);
  }
  50% {
    transform: rotate(6deg);
  }
}

.GalleryBody {
  display: flex;
  flex-direction: row;
  /* background-color: var(--one); */
}

.GalleryWrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: auto;
  top: 0;
  z-index: 0;
  /* background-color: aqua; */
}

.GapperDiv {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.GapperDivBottom {
  position: relative;
  /* margin-top: -1rem; */
  width: 100%;
  height: 7.5rem;
  letter-spacing: 1rem;
  font-size: xx-small;
  text-shadow: 0rem 0rem 0.25rem var(--Base);
  color: var(--Base);
  /* margin-top: -5.5rem; */
}
.GapperDivBottom > p {
  position: absolute;
  bottom: 2.5rem;
}

.RosterWrapper {
  width: 100vw;
  z-index: 2;
  /* background: linear-gradient(0deg,var(--SB)-10rem,var(--SG)0rem, var(--B)50%, var(--BB)) 60%; */


  /* background-color: var(--Base); */
  /* background-color: rgb(127, 255, 212); */
}
.GapperTop{
  min-height: calc(100vh - 1.5rem);
}

.RosterImageWrapper {
  /* display:flex;
  flex-direction: column;
  justify-content: start; */
  /* align-items: center; */
  padding: 0.25rem 0 0 0 ;
  width: auto;
  padding-bottom: 13rem;
  /* display:; */
  /* grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); */
  /* align-items: start;
  justify-content: center; */
  /* align-items: start; */
  /* justify-content: center; */
  /* gap: 0.5rem; */
  /* background-color: var(--B); */
  min-height: 100vh;
  width: 100vw;
  /* border-radius: 2rem 2rem 0rem 0rem; */
  scrollbar-width: none;
  color: aliceblue;
  transition: 2s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.5rem);
  /* z-index: 2; */
  position: relative;
}

.RosterItem {
  aspect-ratio: 1 / 1;
  object-fit: contain;
  overflow: hidden;
  min-width: 18vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
  will-change: transform;
  position: relative;
  border-radius: 0.5rem;
}

.RosterItem img {
  width: 100%;
  height: 100%;
  box-shadow: 1%;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  will-change: transform scale;
  /* opacity: 10%; */
  transform: translate3d(0, 0, 0) scale(1.5);
}

.RosterCard {
  /* background-color: var(--SBB); */
  padding: 0.25rem;
  border-radius: 1rem;
  overflow: hidden;
  /* box-shadow: 0rem 0rem 0.5rem var(--B); */
  transition: 1s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 200%;
  }
}
.RosterItemPlaceholder {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    var(--B) 60%,
    var(--Base),
    var(--B)
  );
  mix-blend-mode: lighten;
  z-index: 10;
  position: absolute;
  background-size: 100% 250%;
  animation: gradientAnimation 1s infinite linear;
  mask-image: url(src/assets/Icons/EtherPlaceholder.png);
  mask-size: 100%;
}

.RosterItemBlack {
  width: 100%;
  height: 100%;
  background-color: var(--B);
  opacity:0.5;
  z-index: 9;
  position: absolute;
}

.RosterItemBlackP {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 11;
  mix-blend-mode: hard-light;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.75rem;
  font-size: 0.5rem;
  color: var(--Base);
}

.RosterCard:hover img {
  /* background-color: var(--Base);
  box-shadow: 0rem 0rem 0.25rem 0.25rem var(--SB);
  transform: translateY(-1rem);
  z-index: 999; */
  /* scale:1.5 */
  scale: 1.1;
}
.RosterCard:hover .RosterInfoEther {
  letter-spacing: 0.5rem;
  opacity: 50%;
}
.RosterCard:hover .RosterInfoBase {
  letter-spacing: 0.7rem;
  opacity: 50%;
}
.RosterCard:hover .RosterInfoToken {
  letter-spacing: 0.7rem;
}

.RosterInfo {
  opacity: 80%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 4rem;
  position: relative;
  /* background-color: var(--SBB); */
}

.RosterInfoEther {
  /* font-family: "Coco"; */
  font-size: 1.5rem;
  top: 0rem;
  letter-spacing: -0.1rem;
  transition: all 0.25s;
}

.RosterInfoBase {
  margin-top: -0.75rem;
  font-size: 0.5rem;
  letter-spacing: 0.5rem;
  transition: all 1s;
}

.RosterInfoToken {
  font-family: "Coco";
  color: var(--B);
  opacity: 0.7;
  position: absolute;
  z-index: -1;
  /* top: -1.2rem; */
  font-size: 4rem;
  letter-spacing: 0rem;
  transition: all 1s;
  text-shadow: 0rem 0rem 0.25rem var(--Base);
  width: 100%;
  text-align: right;
}

.Hidden {
  visibility: hidden;
}

.TransDiv {
  top: 0;
  left: 0;
  position: fixed;
  min-height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.TDTop {
  padding-top: 5rem;
  color: var(--Base);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  position: absolute;
  top: 0;
  left: 0;
}

.TDTLeft {
  width: 50%;
  display: flex;
  justify-content: end;
}

.TDTLeft img {
  width: 40rem;
  height: 40rem;
  border-radius: 2%;
}

.HeroImg {
  width: 100%;
  margin-top: 5.5rem;
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 101;
  pointer-events: auto;
  top: 0;
  mix-blend-mode: normal;
}

.HeroImgZoomed {
  width: 100%;
  height: 100%;
  margin-top: 0rem;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 101;
  pointer-events: auto;
  top: 0;
  mix-blend-mode: normal;
  /* background-color: bisque; */
}
.expand{
  position: absolute;
  z-index: 1;
  bottom:2.5rem;
  /* display: none; */
  opacity:0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  /* mix-blend-mode: exclusion; */
  color:var(--Base);
  stroke: var(--Base);
  letter-spacing: 0.75rem;
  height: 100%;
  gap: 1rem;
  transition:cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s all;
  
}

.HeroImgNotZoomed .HeroImgSpace:hover .expand{
  /* display: inline-block; */
  opacity: 1;
}

.HeroImgNotZoomed .HeroImgSpace:hover{
  /* display: inline-block; */
  /* transform: rotateY(10deg); */
}

.HeroImgSpace {
  /* background-color: antiquewhite; */
  width: 30rem;
  aspect-ratio: 1/1;
  pointer-events: auto;
  position: fixed;
  background: var(--B);
  overflow: hidden;
  right: calc(50% + 1rem);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s all;

}

.HeroImgZoomed .HeroImgSpace{
  width: 80vh;
  right: 50%;
  bottom: 50%;
  translate: 50% 50%;
}

.darkenImg{
  transition:cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s all;
  mask-image: linear-gradient(360deg, black,transparent);
}

.HeroImgSpace:hover .darkenImg{
  position:absolute;
  width: 110%;
  height:110%;
  background-color: var(--SBB);
  mix-blend-mode: multiply;
  backdrop-filter: blur(4px);
}


.HeroBGBlackZoomed{
  position: fixed;
  height:100%;
  width:100%;
  background: var(--SBB);
  z-index:100;
  mix-blend-mode: multiply;
  pointer-events: all;
}
.HeroImage{
  width: 100%;
  height:100%;
}

.TDHeader {
  /* z-index: 3; */
  height: 50vh;
  width: 100vw;
  position: fixed;
  bottom: -20vh;
  display: flex;
  justify-self: end;
  mix-blend-mode: hard-light;
  /* background: linear-gradient(0deg,var(--SG)-25%,var(--SP)); */
  mask-image: linear-gradient(180deg,transparent ,black);
}

.TDTRight {
  /* mix-blend-mode:luminosity; */
  width: 50%;
  /* background-color: var(--Base); */
}

.TDTraitsWrapper {
  z-index:2;
  position: absolute;
  top: 7rem;
  margin-top: 10rem;
  width: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  background-blend-mode: color-dodge;
}

.TDTrait {
  background-color: var(--SB);
  background: radial-gradient(180deg, transparent, var(--SG));
  height: 4rem;
  border-radius: 0.25rem;
  padding: 0.1rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-blend-mode: multiply;
}

.TDTraitName {
  font-size: 0.5rem;
  letter-spacing: 0.25rem;
}

.TDTraitValue {
  font-size: small;
  overflow: hidden;
  white-space: nowrap;
  text-transform: capitalize;
}

/* .TDLine{
  width: 100%;
  height: 0.1rem;
  background-color: var(--SB);
  top: 0;
  position: absolute;
} */

.TDMotto {
  position: absolute;
  left: 0;
  top: 0;
  font-family: "Coco";
  font-size: 30vh;
  letter-spacing: 0;
  line-height: 15vh;
  opacity: 50%;
  max-width: 90%;
  z-index: -1;
  /* mix-blend-mode: hard-light; */
  filter: blur(0.3rem);
}

.TDEther {
  color: var(--SB);
  font-size: 1.25rem;
  letter-spacing: 1rem;
  padding-left: 1rem;
  position: absolute;
  top: 5rem;
}

.TDToken {
  color: var(--SB);
  font-family: "Coco";
  font-size: 12rem;
  position: absolute;
  top: 2.5rem;
}

.TDOwner {
  color: var(--Base);
  font-size: 0.7rem;
  position: absolute;
  top: 14.25rem;
  letter-spacing: 0.1rem;
  width: 30rem;
  text-overflow: ellipsis;
  opacity: 75%;
}

.ExitGuide{
  position: fixed;
  z-index: 99;
  left: 0;
  bottom:0.5rem;
  color: var(--B);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  letter-spacing: 1rem;
  width: 100%;
  mix-blend-mode:exclusion;
  gap: 1rem;
}

.GalleryButtons {
  margin-top: -12rem;
  bottom: 2.5rem;
  position: sticky;
  height: 3rem;
  width: 3rem;
  background-color: var(--BB);
  z-index: 1;
  /* mix-blend-mode: hard-light; */
  /* background-blend-mode: hard-light; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 1rem;
  transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  left: calc(50vw - 1.5rem);
  color: var(--Base);
  /* border: 2px solid var(--B); */
}

.GalleryButtons.Active {
  height: 100vh;
  width: 100vw;
  left: 0;
  bottom: 0;
  position: fixed;
  border-radius: 0%;
  background-color: var(--BB);
  justify-content: end;
  padding-bottom: 1rem;
}

.GalleryButtons:not(.Active):hover {
  transform: scale(1.1);
}

.GalleryButtons:not(.Active):active {
  transform: scale(0.9);
}

.GalleryButtons .TDMotto {
  color: var(--SBB);
  opacity: 10%;
}

/* .GalleryButtons .UpperButton{
  width: 3rem;
  height: 3rem;
  border-radius: 10%;
  color: var(--Base);
  background-color: var(--B);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s;
  pointer-events: all;
} */

/* .GalleryButtons .UpperButton{
  position: fixed;
  width: 60rem;
  height: 35rem;
  border-radius: 0%;
  top: 5rem;

} */

.material-symbols-sharp {
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  color: var(--Base);
  font-variation-settings: "FILL" 0, "wght" 1000, "GRAD" 0, "opsz" 88;
}

/* 

.RosterInfoHeader>p{
    font-size: 60%;
}

.RosterInfoHeader>#RosterToken{
    font-size: 150%;
}


.RosterTraits{
    display: grid;
    grid-auto-rows: 1fr;
    width: 100%;
    height: 100%;
    gap:1%
}

.TraitWrapper{
    background-color: aqua;
    border-radius: 10%;
    width:100%;
    height:100%;
}

.TraitType{
    font-size: 20%;
}

.TraitValue{
    font-size: 80%;
} */

.HeroWrapper {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
  transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  background-color: transparent;
  transform: translate3d(0, 0, 0);
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); */
}

.HeroBGBlack {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  mix-blend-mode: luminosity;
  background-color: var(--B);
  backdrop-filter: blur(4rem);
}


.Traitslist{
  position: absolute;
  /* display: flex; */
  top: 0;
  left: 0;
  /* background-color: blue; */
  width: 100%;
  height: 100%;
  color: aliceblue;
  overflow: scroll;
  /* padding-left: 2rem; */
  z-index: 0;
  mask-image: linear-gradient(transparent -30%, black 10%,black 90%, transparent 120%);
  scrollbar-width: none;
  /* mix-blend-mode: color-dodge; */
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.GapperDivTL{
  min-height: 50vh;
  width: 100%;
}

.GapperDivTL1{
  min-height: 20vh;
  width: 100%;
}

.TraitTab{
  user-select: none;
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  /* margin-bottom: 1rem; */
}

.TraitTabHeader:hover{
  letter-spacing: 0.1rem;
  /* width: 30rem;
  min-width: 50%; */
  background: linear-gradient(90deg, var(--SG)25%, var(--SBB), transparent);

}


.TraitTabHeader, .TraitTabHeaderOpen {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25rem;
  max-width: 60%;
  /* background: linear-gradient(90deg,var(--SB)60,var(--SBB), transparent); */
  background-blend-mode: hard-light;
  padding: 0.25rem;
  padding-left: 2.5rem;
  font-size: 2rem;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1);
  /* background: linear-gradient(90deg, var(--SG)-20%, var(--SBB)70%); */
  backdrop-filter: blur(1rem);
  /* background: linear-gradient(90deg, var(--SG)-20%, var(--SBB) 70%,transparent);; */

  
}
.TraitTabHeaderOpen{
  background: linear-gradient(90deg,var(--SBB)25%,var(--SBB)50%,transparent);
  width: 37.5rem;
  max-width: 65%;
  /* background: linear-gradient(90deg,var(--SY),var(--SY), transparent); */
  letter-spacing: 0.2rem;
}
.Coco{
  font-family: 'Coco';

}
.TraitTabItems{
  
  letter-spacing: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  /* padding-bottom: 0.2rem; */
  /* overflow: hidden; */
}
/* .TraitTabHeaderOpen+.TraitTabItems{
} */

.TraitTabItem{
  align-items: start;
  justify-content: space-between;
  letter-spacing: 0.25rem;
  /* mask-image: linear-gradient(90deg,black 50%,transparent); */
  width: 30rem;
  max-width: 55%;
  gap: 0.25rem;
  padding-left: 4rem;
  display: flex;
  flex-direction: row;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1);
  /* background: linear-gradient(90deg, var(--SG)-20%, var(--SBB)70%); */
}
.TraitTabItem:hover{
  /* letter-spacing: 0.1rem; */
  background: linear-gradient(90deg, var(--SG)-20%,transparent 60%);;
}
.TraitTabItemOpen{
  align-items: start;
  justify-content: space-between;
  letter-spacing: 0.25rem;
  /* mask-image: linear-gradient(90deg,black 50%,transparent); */
  width: 30rem;
  max-width: 55%;
  gap: 0.25rem;  
  padding-left: 3rem;
  display: flex;
  flex-direction: row;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1);
  background: linear-gradient(90deg,var(--SP)-50%,transparent 40%);
  /* color: black; */

}

.Traitslist h3{
  font-size: 3rem;
  font-family: 'Coco';
  padding-left: 2.5rem;
  color: var(--Base);
  letter-spacing: 0.2rem;
}

.TraitslistLine{
  margin-bottom: 0.25rem;
  min-height: 2px;
  width: 60rem;
  mask-image: linear-gradient(90deg,black 50%,transparent);
  background-color: var(--SBB);
  max-width: 50%;

}

.TraitslistLine2{
  margin-top: 1rem;
  min-height: 2px;
  width: 60rem;
  mask-image: linear-gradient(90deg,black 50%,transparent);
  background-color: var(--SBB);
  max-width: 50%;

}

.traitIconSVG{
  position: absolute;
  z-index: 5;
  box-shadow: 0 0 1rem 0.1rem var(--SBB);
  border-radius:0.5rem;
  mix-blend-mode: color-dodge;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.traitIconSVG:hover{
  transform: scale(1.1)
}

.traitCounts{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  padding: 1rem;
  bottom: 0;
  right: 0;
  color: var(--Base);
  width: 40%;
  height: 100%; 
  /* background-color:red; */
}

.TCStats{
  display: flex;
  justify-content: end;
  align-items: end;
}

.TCBig{
  font-size: 4rem;
}
.TCSmall{
  font-size: 2rem;
  
}


