.Header{
    /* background-color: var(--B); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-size: 1rem;  
    gap: 1.5rem;
    color: var(--Base);
    height: 2.25rem;
    /* border-radius: 0rem 0rem 5rem 5rem; */
    z-index: 5;
    align-self: center;
    padding: 0.5rem 0 2rem 0;
/* Suggested code may be subject to a license. Learn more: ~LicenseLog:915718979. */
    width: 100%;
    /* mix-blend-mode:luminosity; */
    /* overflow: hidden; */
    /* box-shadow: 0 0 0.5rem 1px var(--SB);  */

    /* box-shadow: 0rem 0rem 0.25rem var(--SB); */
    
}

.HeaderBGColor{
    position: absolute;
    
    height: 100%;
    width: 100%;
    /* backdrop-filter: blur(1rem); */
    background: var(--B);
    mask-image: linear-gradient(to top, transparent, black);
}

/* .Header{
    background-color: var(--B);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    position: fixed;
    font-size: 1rem;  
    gap: 1rem;
    color: var(--SB);
    backdrop-filter: blur(1rem);
    z-index: 3;
    width: 100%;
    mix-blend-mode:hard-light;
    overflow: hidden;
    box-shadow: 0rem 0rem 0.5rem var(--SB);
    top: 0;
    border-radius: 0 0 5rem 5rem;
    

} */

.deco{
    text-decoration: none;
    color: var(--Base);
}

.Header .MiddlePFP{
    background-color: var(--B);
    overflow: hidden;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    transform: translateY(-2rem);
    mix-blend-mode: luminosity;
}

.Header .MiddlePFP img{
    height: 10rem;
    transform: translateY(3rem);
    filter: grayscale();
    mix-blend-mode: luminosity;

}

.HeaderButtonWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
    z-index: 6;

}

.HeaderButton{
    width:7.5rem;
    font-size: 0.75rem;
    letter-spacing: 0.2rem;
    transition: all 0.1s;
    text-align: center;
    cursor: none;
    /* background-color: var(--B); */
    height: 1.75rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.HeaderButton:hover{
    font-size: 0.7;
    letter-spacing: 0.3rem;
    /* box-shadow: 0 0 1rem var(--SB); */
    color: var(--SB);
    text-shadow: 0 0 2rem var(--SB);

}

.HeaderMotto{
    position: absolute;
    font-family: 'Coco';
    font-size: 2rem;
    width: 25rem;
    line-height: 1rem;
    left: 1rem;
    top: 1rem;
    z-index: -1;
    opacity: 20%;
    color: var(--Base);
    filter: blur(0.1rem);
    letter-spacing: 0.5rem;
    
}

.Activated, .Activated:hover{
    background-color: var(--Base);
    height: 1.75rem;
    border-radius: 5rem;
    color: var(--SB);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.5rem;
    text-align: center;
    padding-left: 0.5rem;
    box-shadow: 0 0 0.5rem 0.1rem var(--SB);

}