:root {
    background-color:var(--one);
    padding: 0%;
    margin: 0%;
  }

.HomeSection  {   
    height: 101vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    color: aliceblue;
}

.HomeSection>.HomeHeader{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0vh 5vw;
    padding-top: 2vh;
}

.HomeSection>.HomeHeader>.Title{
    position: absolute;
    font-size: 25%;
    width: 90%;
}

.HomeSection>.HomeHeader>.Title p{
    font-size: small;
    padding:0;
    margin:0;
}

.HomeSection>.HomeHeader>.NavigationWrapper{
    display: flex;
    width: 40%;
    padding-top: 5vh;
    justify-content: space-between;
    
}

.HomeSection>.HomeHeader>.NavigationWrapper>.NavigationButton{
    border-style: none;
    background: none;
    padding:0;
    color: aliceblue;
}

.HomeSection>.EnterButton{
    padding: 1vh 0vh;
    background-color: blue;
    border-style: none;
    color:aliceblue
}

.HomeSection>.BgVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  .HomeSection>.EnterButton{
    padding: 1vh 0vh;
    background-color: blue;
    border-style: none;
    color:aliceblue
}

.HomeSection>.Body{
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0vh 5vw;
    padding-top: 5vh;
}

.HomeSection>.Body>.GridWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
    width: 40%;
    height: 90%;
}

.HomeSection>.Body>.GridWrapper>.GridItem{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    background-color:#00000050;
    color: aliceblue;
    border-radius: 5px;
    backdrop-filter: blur(5px);
}

.HomeSection>.Body>.GridWrapper>.G1{
    height: 40%;
}