:root {
  padding: 0%;
  margin: 0%;
  background-color: var(--B);
}

.HomeSection {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: aliceblue; 
  position: fixed;
  z-index: 99;
  background-color: var(--SR);
  overflow: hidden;
  /* clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 95%, 0 80%); */
}

.HomeSection > .HomeHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: aquamarine; */
  width: 100%;
}

.HomeSection > .HomeHeader > .HomeTitle {
  position: absolute;
  color: var(--SBB);
  font-size: 4rem;
  min-width: 100%;
  text-align: center;
  z-index: -1;
  mix-blend-mode: difference;
  bottom: 2.5rem;
  /* background-color: aqua; */
}

.HomeSection > .HomeHeader > .HomeTitle p {
  font-size: 1.5rem;
  min-width: 100vw;
  z-index: -1;
  /* mix-blend-mode: difference; */
  letter-spacing: 1rem;
  margin-bottom: -2rem;
  /* background-color: azure; */
}

.HomeSection > .HomeHeader > .NavigationWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-top: 1.5rem; */
  padding: 0.8rem 4rem 0.8rem 4rem;
  border-radius: 0rem 0rem 5rem 5rem ;
  justify-content: space-between;
  /* background-color: aqua; */
  background-color: var(--BB);
  width: 25rem;
  mix-blend-mode: darken;
  border: 0.1rem solid var(--SG);
  border-top: none;
}

.HomeSection > .HomeHeader > .NavigationWrapper > .NavigationButton {
  border-style: none;
  background: none;
  padding: 0;
  color: var(--SG);
  cursor: none;
  text-decoration: none;
  letter-spacing: 0.25rem;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-shadow: 0rem 0rem 0.5rem var(--SB);
  font-size: 0.75rem;
  /* background-color: aliceblue; */
}

.HomeSection > .HomeHeader > .NavigationWrapper > .NavigationButton:hover{
  letter-spacing: 0.5rem;
}

.HomeSection > .BgVideo {
  position: absolute;
  top: -10%;
  min-width: 120%;
  min-height: 120%;
  z-index: -1;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes idleEtherEnter {
  0%{letter-spacing: 1rem;}
  50%{letter-spacing: 1.5rem;}
  100%{letter-spacing: 1rem;}
}

.HomeSection > .EnterButton svg{
  position: absolute;
  bottom: 0;
}

.HomeSection > .EnterButton {
  background-color: var(--BB);
  mix-blend-mode: darken;
  /* backdrop-filter: blur(1rem); */
  border-style: none;
  color: var(--SG);
  letter-spacing: 0.25rem;
  position: absolute;
  width: 22.5rem;
  /* box-shadow: 0rem 0rem 0.5rem var(--SB); */
  /* text-shadow: 0rem 0rem 0.5rem var(--SB); */
  height: 3rem;
  border-radius: 2rem 2rem 0rem 0rem;
  bottom: 0rem;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1) 1s;
  cursor: none;
  font-size: 1rem;
  border: 0.1rem solid var(--SG);
  border-bottom: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
  /* background-color: aqua; */
}

.HomeSection > .EnterButton:hover {
  letter-spacing: 0.5rem;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;

}


.HomeSection > .Body {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 0vh 5vw;
  padding-top: 5vh;
}

.IAHWrapper{
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  /* padding-bottom: 2rem; */
}

.HomeSection > .EnterButton:hover > .IAHWrapper {
  opacity: 1;
}