:root {
  --B: #01080a;
  --BB: #101010;
  --SBB: #3c3e60;
  --DB: #050063;
  --SB: #48acf0;
  --SY: #f3ce56;
  --SR: #e74848;
  --SP: #ff6cb5;
  --SG: #9ebbd7;
  --Base: rgb(254, 254, 252);
  /* background-color:var(--Base); */

}

/* :root {
  --B: #01080a;
  --BB: #101010;
  --SBB: #3c3e60;
  --DB: #050063;
  --SB: #33a0e9;
  --SY: #e8be31;
  --SR: #e63925;
  --SP: #e9338e;
  --SG: #9ebbd7;
  --Base: rgb(254, 254, 252);
  background-color:var(--Base);

} */

img {
  filter: blur(5rem); 
}

html {
  font-size: 13px;
}

* {
  font-family:"Mulish","Eagle Lake", 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: normal;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Coco';
  src: url('./src/assets/PlayfairDisplaySC-Regular.ttf');
}

@font-face {
  font-family: 'Coco';
  src: url('./src/assets/Cinzel-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Mulish';
  src: url('./src/assets/Mulish-VariableFont_wght.ttf');
}

h1{
  font-family: 'Coco';
}