.Profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  scroll-snap-type: y mandatory;
  
  
}

.ProfileMenu{
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 5;
  /* bottom: 0; */
  background-color: var(--B);
  transform: translateY(100vh);
  backdrop-filter: blur(1rem);
  border-radius: 1rem 1rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0rem 0rem 0.5rem var(--SB);
}

.ProfileMenu::hover{
  mix-blend-mode: hard-light;

}

.ProfileWrapper {
  /* width: 70rem; */
  width: 100%;
  height: min-content;
  z-index: 0;
  top: 0;
  
  position: fixed;
  z-index: 2;

}

.ProfileHeaderWrapper {
  width: 100%;
  height: 100vh;
}

/* .ProfileHeader {
  height: calc(100vw / 3);
  width: 100%;
  background-color: var(--Base);
  z-index: -1000;
  position: fixed;
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.5vw;
  border-radius: 0 0 1rem 1rem;
} */


.ProfileHeader {
  height: 100vh;
  width: 100%;
  z-index: -1000;
  position: absolute;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 2.5vh;
  border-radius: 0 0 1rem 1rem;
}



.ProfilePFP {
  position: absolute;
  /* top:calc(-100vw / 3 + (100vw / 6));
  right: 15vw;
  background-color: var(--B);
  position: absolute;
  width: fit-content;
  height: calc(100vw / 4);
  overflow: hidden;
  /* clip-path: polygon(0% 0%, 150% 30%, 75% 100%, 30% 100%); */
  /* transform: rotateY(15deg); */
  /* background-color: azure; */
  border-radius: 0.5rem;
  width: 30vh;
  height: 60vh;
  left: calc(1.25vw + 3.75vh);
  bottom: calc(1.25vw + 3.75vh);
  box-shadow: 0rem 0rem 0.5rem var(--SB);
  overflow: hidden;
  z-index: 1000;

}

@keyframes idlePFPxx {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1.1);
  }
}

.ProfilePFP img {
  z-index: -5;
  bottom: 0vw;
  height: 100%;
  transition: all 5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translateX(-25vh) scale(2);
  /* opacity: 10%; */
}

.ProfilePFPMultiply{
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: var(--SG);
  mix-blend-mode:overlay;
  z-index: 1;
  opacity: 0.25;
}

.ProfileIdentity{
  color: var(--Base);
  position: absolute;
  z-index: 1000;
  /* background-color: aliceblue; */
  left: calc(30vh + 1.25vw + 3.75vh + 3.75vh);
  bottom: 30vh;
}

.ProfileName {
  max-width: 30rem;
  text-overflow: ellipsis;
  font-family: "Coco";
  text-align: left;
  /* color: var(--B); */
  font-size: 10vh;
  /* position: absolute;
  top: 2rem;
  right: 0; */
  text-shadow: 0rem 0rem 2rem var(--SB);
  letter-spacing: 0.25rem;
}

.Title {
  text-align: left;
  /* color: var(--B); */
  /* position: absolute;
  top: 6rem;
  right: 0; */
  font-size: 2vh;
  text-shadow: 0rem 0rem 0.5rem var(--SB);
  letter-spacing: 1rem;
  line-height: 1rem;
}

.ProfileAchievements {
  /* background-color: antiquewhite; */
  height: 25vh;
  width: 97.5vw;
  /* height: calc(100vh - (100vw / 3)); */
  position: relative;
  color: var(--Base);
  /* background-color: var(--Base); */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: relative;
  overflow: hidden;
  margin-bottom: 1.25vw;
  border: solid 0.05rem var(--sb);
  box-shadow: 0rem 0rem 0.5rem var(--SB);


  /* background-color: antiquewhite;   */
}

.AchievementGrid {
  /* top: 8rem;
  right: 0; */
  width: 100%;
  height: 100%;
  background-color: var(--B);  
  mix-blend-mode: hard-light;
  backdrop-filter: blur(1rem);
  border-radius: 0.5rem;
  
  /* position: absolute; */
  z-index: 100;
  
  display: flex;
  flex-direction: column;
  align-items: left;
  overflow: hidden;
  text-align: left;
  padding: 2.5vh  5vh  5vh  calc(30vh + 1.25vw + 3.75vh + 2vh);
  font-size: 1rem;
  text-wrap: pretty;
  mix-blend-mode:luminosity;
  background-blend-mode: hard-light;

}



.HeaderBG{
  height: 100vh;
  width: 100vw;
  z-index: -5000;
  position: absolute;
  justify-content: center;
  align-items: center;
  object-fit:cover;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.HeaderBG img{
  height: 100%;
  display: flex;
  transform: scale(1.5);
  margin: auto;
  position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}


/* 
.ProfileAbsWrapper {
  display: flex;
  z-index: -10;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: calc(100vw / 3);
  width: 100vw;
  gap: 2rem;
  background-color: aqua;
} */




.ProfileBody {
  width: 100vw;
  height: 100vh;
  background-color: var(--SB);
  display: flex;
  flex-direction: column;
  border-radius: 2rem 2rem 0 0;

  scroll-snap-align: start;


  /* background-color: aliceblue; */
}

/* .ProfileBodyBump {
  position: absolute;
  display: flex;
  justify-self: center;
  align-self: center;
  height: 5vh;
  width: 10vw;
  background-color: var(--B);
  border-radius: 1rem 1rem 0 0;
  mix-blend-mode: hard-light;
  background-blend-mode: hard-light;
  backdrop-filter: blur(1rem);
  bottom: 0;

  clip-path: polygon(0% 100%, 25% 0%, 75% 0%, 100% 100%);
  transition: all 0.5s ease-in-out;
} */

.ProfileBodyBump:hover{
  transform: scale(1.2);
  filter: brightness(150%);
}



.ProfileHeroes {
  height: 100vh;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.1rem;
  align-items: flex-start;
  transition: all 5s linear;
  
}

.ProfileHero {
  position: relative;
  transition: all 1s ease-in-out;
  height: 100vh;
  width: 100%;

  min-width: auto;
  overflow: hidden;
}

.ProfileHero:hover {
  height: 100vh;
  min-width: 100vh;
}

.ProfileHero:not(:hover) {
  min-width: calc((100vw - 100vh) / 5);
}

.ProfileHeroLayer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--B);
  z-index: 1;
  mix-blend-mode: hard-light;
  transition: 2s ease-in-out;
}

.ProfileHeroLayer:hover {
  opacity: 0;
  background-color: var(--SY);
}

.ProfileHero img {
  /* background-color: red; */
  height: 100vh;
  width: 100vh;
  /* opacity: 20%; */
  transform: translateX(-50vh);
  transition: all 1s ease-in-out;
  animation-delay: 0.25s;
}

.ProfileHero:hover img {
  transform: translateX(0);
  /* filter:grayscale(); */
}

.ProfileCollection {
  color: var(--Base);
  /* background-color: red; */
  width: 100%;

}

.ProfileCollectionBody {
  /* background-color: wheat; */
  height: max-content;
}

.ProfileCollectionHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20rem;
  position: relative;
  background-color: antiquewhite;
  padding: 1rem;
}

.ProfileCollectionHeader p {
  font-size: 1rem;
  letter-spacing: 0.5rem;
}

p.ProfileCollectionTitle {
  font-size: 7rem;
  font-family: "Coco";
  letter-spacing: 0rem;
}

.ProfileCollectionGrid {
  background-color: antiquewhite;
  display: grid;
  padding: 1rem;
  width: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  align-items: start;
  gap: 1rem;
}

.ProfileCollectionCard {
  object-fit: contain;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  border-radius: 0.25rem;
  transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;

}

.ProfileCollectionCard:hover {
  box-shadow: 0 0 0.75rem 0.25rem var(--SB);
}

.ProfileCollectionCard img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
  will-change: transform;
  /* opacity: 5%; */
}
.ProfileCollectionCard:hover img{
  transform: scale(1.2);
}

.ProfileGapperDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20rem;
}


