.PWrapper {
  width: 100%;
  position: absolute;
  z-index: 5;
  min-height: 100vh;
}

.ProfileBackButton {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  padding: 0.4rem;
  color: var(--Base);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  letter-spacing: 0.75rem;
  width: 100%;
  mix-blend-mode: difference;
  gap: 1rem;
  /* background-color: var(--Base); */
}

.ProfileBackButton svg {
  fill: var(--Base);
}

.ProfileSelectorWrapper {
  /* Suggested code may be subject to a license. Learn more: ~LicenseLog:4002175488. */
  background: linear-gradient(180deg, var(--SB)-10%, var(--SG)-5%, var(--B) 0%);
  color: var(--Base);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  align-self: center;
  padding-top: 5rem;
  background-attachment: fixed;
}

.ProfileSelectorWrapper h2 {
  font-weight: normal;
  font-size: 3rem;
  font-family: "Coco";
  text-align: center;
}

.ProfileSelectorWrapper h3 {
  font-weight: normal;
  font-size: 2.5rem;
  font-family: "Coco";
  text-align: center;
  /* background-color: aqua; */
  margin-bottom: -1rem;
  letter-spacing: 0.2rem;
  text-shadow: 0 0 0.25rem var(--B);
}

.ProfileSelectorWrapper p {
  width: 100%;
  font-weight: normal;
  font-size: 0.8rem;
  letter-spacing: 0.5rem;
  text-align: center;
  text-shadow: 0 0 0.25rem var(--B);
}
.P100 {
  width: 100%;
  margin-bottom: 3rem;
}

.ReactVirtualized__Grid {
  overflow: visible !important;
  contain: none !important;
}

.ProfileSelectorGrid {
  overflow: visible !important;
  position: relative; /* needed for child positioning */
}
.ProfileSelectorGrid {
  width: 100%;
  max-width: 90vw;
  min-height: 100vh;
  z-index: 0;
  /* background-color: beige; */
  /* display: grid;
  margin-top: 1rem;
  border-radius: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 10rem; */
  /* grid-auto-rows: minmax(0, 1fr); */
}

.ProfileSelectorGridItem {
  z-index: 5;
  width: 100%;
  /* background-color: blue; */
  aspect-ratio: 12/12;
  position: relative;
  /* overflow: hidden; */
  /* border: 0.1rem solid var(--Base); */
  transition: 1s box-shadow cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* mask-image: linear-gradient(90deg, black -1rem, black 75%, transparent); */

  /* clip-path: polygon(0 10%, 10% 5%, 50% 0 , 50% 0, 90% 5%, 100% 11%, 100% 90%, 90% 95%, 50% 100%, 50% 100%, 10% 95%, 0 90%); */
}

.PBoxWrapper {
  border-radius: 0.5rem;
  height: 95%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 5%;
  right: 0;
  mask-image: linear-gradient(0deg, transparent, transparent 20%, Black 30%);
  mask-size: 100% 200%;
  mask-position: 0% 100%;
  mask-repeat: no-repeat;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ProfileSelectorGridItem:hover:hover .PBoxWrapper {
  transform: translateY(-25%);
  mask-position: 0% 80%;

  /* box-shadow: 0 0 0.5rem 0.05rem var(--SG); */
}

.PBOut {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
  padding: 1rem;
  display: none;
  opacity: 0;
}

.ProfileSelectorGridItem:hover .PBOut {
  opacity: 1;
  display: inline;
}

.ProfileSelectorGridItem:hover .PGIHeader img {
  transform: scale(1.25) translateZ(0);
  filter: blur(0);
}

.ProfileSelectorGridItem:hover .PGIHeader {
  visibility: visible;
}

.ProfileSelectorGridItem:hover .PGIInfo {
  /* transform: scale(2); */
  /* transform: translateX(0.5rem); */
}

.ProfileSelectorGridItem:hover .PPGP {
  /* transform: scale(2); */
  transform: translatez(0) translateX(-25%) translateY(-50%);
  z-index: -2;
  /* aspect-ratio: 1/0.15; */
  /* border-radius: 0rem 2rem 0 0 ; */
}
.ProfileSelectorGridItem:hover H2 {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-5rem);
}

.ProfileSelectorGridItem:hover .PGIPP {
  /* transform: translateX(275%)translateY(1.5rem)translateZ(0) scale(4); */
}

.ProfileSelectorGridItem:hover .PGHeaderBlock,
.ProfileSelectorGridItem:hover .FullScreenIcon {
  opacity: 0.2;
  /* transform: translateX(1rem); */
}

.ProfileSelectorGridItem:hover .PGHeaderBlock2 {
  opacity: 1;
  /* transform: translateX(1rem); */
}

.PGHeaderBlock {
  opacity: 1;
  position: absolute;
  /* background: linear-gradient(180deg,var(--SB)50%,var(--B)150%); */
  /* background: var(--SY); */
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: 3s cubic-bezier(0.175, 0.885, 0.32, 1);
  mix-blend-mode: overlay;
}

.PGHeaderBlock2 {
  opacity: 0;
  position: absolute;
  /* background: linear-gradient(180deg,var(--SB)50%,var(--B)150%); */
  /* background: var(--SY); */
  height: 100%;
  width: 100%;
  z-index: 5;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1);
  mix-blend-mode: exclusion;
}

.FullScreenIcon {
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1);
  opacity: 0;
  width: 20%;
  fill: var(--Base);
  position: absolute;
  z-index: 2;
  box-shadow: 2rem solid var(--B);
  padding: 0.5rem;
}

.PPGP {
  position: absolute;
  height: 45%;
  aspect-ratio: 1/1;
  top: 0;
  left: 5%;
  /* width: 25%; */
  z-index: 2;
  overflow: hidden;
  display: flex;
  border-radius: 0.5rem;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
  transform: translateZ(0);
  will-change: transform, opacity;
}

.PGIPP {
  position: absolute;
  display: flex;
  justify-self: center;
  align-self: center;
  height: 150%;
  z-index: 1;
  background-color: #06576d;
  justify-content: center;
  margin-left: -40%;
  margin-bottom: -10%;
  transition: 0.25s cubic-bezier(0.175, 0.885, 0.32, 1);

  /* width: 100%; */
  /* opacity: 0; */
  /* left: 30%; */
  /* border: 0.1rem solid var(--BB); */
  /* opacity: 0.25; */
}

.PPGP {
  /* mask-image: linear-gradient(0deg,transparent,black 25%); */
}

.PGIHeader {
  height: 100%;
  width: 100%;
  background-color: var(--B);
  overflow: hidden;

  /* visibility: hidden; */
  /* opacity: 0.25; */
}

.PGIHeader img {
  filter: blur(2px);
  transform: scale(1.1) translateZ(0);
  min-width: 100%;
  min-height: 70%;
  width: 100%;
  height: 70%;
  position: absolute;
  object-fit: cover;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  will-change: transform, filter;
}

.ProfileSelectorGridItem H2 {
  margin-left: -0.5rem;
  position: absolute;
  /* letter-spacing: -2.5rem; */
  width: 100%;
  text-align: center;
  /* top: -1.5rem;
  right: -1.5rem; */
  font-size: 11rem;
  bottom: 0rem;
  mix-blend-mode: exclusion;
  color: #06576d;
  /* color: #0c4e60; */
  z-index: 2;
  /* opacity: 0.5; */
  line-height: 6rem;
  /* text-orientation: upright;
  writing-mode: vertical-lr; */
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.PGIInfo p {
  letter-spacing: 0.1rem;
  text-align: left;
  width: 100%;
}
.PGIInfo H3 {
  letter-spacing: 0.1rem;
  text-align: left;
  width: 100%;
  font-size: 2.5rem;
}

.PGIInfo {
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
  position: absolute;
  bottom: 37%;
  /* background-color: #D9AFD9; */
  /* background-image: linear-gradient(0deg, var(--B) 0%,var(--BB) 50%, transparent 95%); */
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: start;
  gap: 0.5rem;
  /* mix-blend-mode: hard-light; */
  padding: 0.5rem;
  padding-left: 1.5rem;
  z-index: 2;
  pointer-events: none;
  /* opacity: 0.5; */
}

.Profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.ProfileMenu img {
  /* opacity: 0.25; */
}

.ProfileMenu svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  padding-top: 1rem;
  /* margin-bottom: 2rem; */
  /* opacity: 0.25; */
}

.ProfileMenu {
  position: relative;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  z-index: 5;
  /* bottom: 0; */
  background-color: var(--B);
  background: linear-gradient(
    var(--SBB)-10rem,
    var(--BB) 25rem,
    var(--BB) calc(100% - 35rem),
    var(--SBB) calc(100% + 15rem)
  );
  color: var(--BB);
  transform: translateY(100vh);
  margin-bottom: 100%;
  /* backdrop-filter: blur(1rem); */
  border-radius: 2rem 2rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* background-attachment: fixed; */
  overflow: hidden;
  backdrop-filter: blur(1rem);
  box-sizing: border-box;
  /* background-blend-mode: exclusion; */
}

.ProfileMenu > .TDMotto {
  color: var(--Base);
  opacity: 0.2;
}

.PMBG {
  position: sticky;
  opacity: 0.2;
  /* height: 100vh; */
  z-index: -555;
  bottom: 0rem;
}

.ProfileMenuHeader {
  width: 75rem;
  height: 30rem;
  margin-top: 4.5rem;
  margin-bottom: 1rem;
  text-align: left;
  /* background-color: var(--BB); */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 1rem;
  /* padding: 2rem; */
  /* overflow: hidden; */
  position: relative;
  /* background: linear-gradient(var(--SG)-2.5rem ,var(--B)15rem); */
  color: var(--Base);
  /* mix-blend-mode: luminosity; */
  box-sizing: border-box;
}

.ProfileMenuHeader > img {
  position: absolute;
  max-height: 21rem;
  bottom: 2rem;
  border-radius: 2rem;
  left: 0rem;
  /* top: 2rem; */
  border: solid 0.1rem var(--SG);
}

.ProfileMenuHeaderID {
  /* mix-blend-mode: luminosity; */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: end;
  padding: 0 0 5.5rem 21rem;
  background: linear-gradient(0deg, var(--B) 10%, transparent 70%);
  position: absolute;
  bottom: 0;
  font-weight: normal;
  max-width: 100%;
  width: 100%;
  z-index: 6;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  /* mask-image: linear-gradient(90deg, black -1rem, black 85%, transparent); */
}
.BioBubble {
  left: 22rem;
  bottom: -1rem;
  width: 62.5%;
  height: 5rem;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1rem);
  border-radius: 1rem;
  position: absolute;
  /* top: 5rem; */
  z-index: 2;
  padding: 0.5rem 1rem;
  border: solid 0.1rem var(--SG);
  display: flex;
  flex-direction: column;
  justify-items: center;
  font-size: 0.85rem;
  /* padding-left: 1rem; */
}

.BBT {
  font-size: 1rem;
  opacity: 0.5;
}

.ProfileMenuHeaderBG {
  /* top:0; */
  /* right:5rem; */
  /* mix-blend-mode: luminosity; */
  z-index: -1;
  position: absolute;
  font-weight: normal;
  width: 95%;
  height: 100%;
  background-color: #06576d;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  border: solid 0.1rem var(--SG);
}

.ProfileMenuHeaderBG img {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.BehindImage {
  opacity: 0.25;
  width: 50rem;
  height: 50rem;
  position: absolute;
  top: 30rem;
  z-index: -2;

  /* Mask settings */
  mask-image: url("/src/assets/Icons/EtherPlaceholder.png");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  overflow: hidden; /* Ensures ShineLayer doesn't spill outside */
}

.ShineLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  background: linear-gradient(
    225deg,
    transparent 35%,
    var(--SBB) 50%,
    transparent 65%
  );
  animation: shineMove 5s linear infinite;
  will-change: transform;
}

@keyframes shineMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.BehindImage2 {
  width: 5rem;
  height: 5rem;
  position: absolute;
  bottom: 2.5rem;
  z-index: -1;

  /* Mask settings */
  mask-image: url("/src/assets/Icons/EtherPlaceholder.png");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  overflow: hidden;
}

@keyframes slide-pingpong {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.ProfileMenuHeaderID > h2 {
  width: 100%;
  font-size: 3rem;
  font-family: "Coco";
  font-weight: normal;
  /* animation: slide-pingpong 5s alternate infinite; */
  /* animation-delay: 2s; */
}

.ProfileMenuHeaderID > p {
  letter-spacing: 0.35rem;
  z-index: 4;
  position: relative;
  color: var(--SG);
}

.ProfileStats {
  z-index: -2;
  width: 75rem;
  height: 20rem;
  margin-top: -15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 0.25rem;
  color: var(--SR);
  border: solid 0.1rem;
  padding: 2rem;
  border-radius: 2rem 2rem 0.5rem 0.5rem;
  /* mix-blend-mode: luminosity; */
  /* backdrop-filter: blur(0.5rem); */
  background: rgba(255, 255, 255, 0.1);
  /* background-color: transparent; */
  /* mask-image: linear-gradient(
    90deg,
    transparent 0,
    black 5%,
    black 95%,
    transparent
  ); */
  mask-size: 100% 200%;
  transform: translateZ(0);
  overflow: visible;
}

.ProfileStats2 {
  z-index: 3;
  width: 75rem;
  height: auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  color: var(--SR);
  border: solid 0.1rem;
  padding: 2rem;
  border-radius: 0.5rem;
  /* mix-blend-mode: luminosity; */
  /* backdrop-filter: blur(0.5rem); */
  background: rgba(255, 255, 255, 0.1);
  /* mask-image: linear-gradient(
    90deg,
    transparent 0,
    black 5%,
    black 95%,
    transparent
  ); */
  mask-size: 100% 200%;
  transform: translateZ(0);
  overflow: visible;
}

.ProfileStats2 h2 {
  width: 100%;
  text-align: center;
}

.ProfileStats > h2,
.ProfileAvatarGridBG > h2 {
  font-size: 0.8rem;
  font-weight: normal;
  letter-spacing: 1rem;
  /* margin-bottom: -0.5rem; */
}

.ProfileAvatarGridBG > h2 {
  padding: 2rem;
}

.ProfileStatsItem {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  /* background-color: var(--BB); */
  height: 100%;
  width: 100%;

  /* border: solid 0.2rem var(--SB); */
}

.ProfileStatsItem > h2 {
  font-size: 0.8rem;
  font-weight: normal;
  text-align: end;
  letter-spacing: 0.25rem;
  margin: 0;
  padding: 0;
}

.ProfileStatsItem > h3 {
  font-size: 3rem;
  font-family: "Coco";
  font-weight: normal;

  /* background-color: red; */
  margin: 0;
  padding: 0;
  /* margin-top: -1.75rem; */
}

.ProfileAvatarGrid {
  /* background-color: var(--BB); */
  width: 77rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  justify-content: start;
  position: relative;
  padding-top: 6rem;
  margin-bottom: 10rem;
  /* padding-bottom: 1rem; */
}

.ProfileAvatarGridBG {
  transform: translateZ(0);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 0.5rem;
  /* mix-blend-mode: luminosity; */
  /* backdrop-filter: blur(0.25rem); */
  background: rgba(255, 255, 255, 0.1);
  /* mask-image: linear-gradient(
    90deg,
    transparent 0,
    black 5%,
    black 95%,
    transparent
  ); */
  z-index: 0;
  border: solid 0.1rem;
  /* left: -10%; */
  top: 1;
  color: var(--SG);
}

.ProfileAvatarGridBG2 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  /* mix-blend-mode: luminosity; */
  backdrop-filter: blur(0.25rem);
  background: linear-gradient(
    rgba(255, 255, 255, 0.1) 5rem,
    transparent 25rem,
    rgba(255, 255, 255, 0.1)
  );
  mask-image: linear-gradient(
    90deg,
    transparent 0,
    black 5%,
    black 95%,
    transparent
  );
  z-index: -1;
  border: solid 0.1rem;
  left: -10%;
  top: 1;
  color: var(--SG);
}

.ProfileAvatarGridItem {
  aspect-ratio: 1/1;
  width: 100%;
  transition: 0.25s all cubic-bezier(0.175, 0.885, 0.32, 1);
  z-index: 2;
  /* padding: 2.5%; */
  border: solid var(--SG) 0.1rem;
  border-radius: 0.5rem;
  transform: translateZ(0);
  overflow: hidden;
  will-change: transform;
}

.ProfileAvatarGridItem:hover {
  z-index: 10;
}

.ProfileAvatarGridItem img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  /* opacity: 0.1; */
}
.ProfileAvatarGridItem:hover img {
  border-radius: 1rem;
  transform: scale(1.25);
  position: absolute;
  /* opacity: 0.1; */
}

.ProfileAvatarGridImage {
  display: flex;
  justify-content: start;
  color: var(--Base);
  width: 95%;
  min-height: 3rem;
  padding: 2.5%;
  /* background-color: red; */
  position: absolute;
  bottom: 0rem;
  /* display: none; */
  border-radius: 0.5rem;
  margin: 0.5rem;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateY(1.5rem);
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1) all;
  box-sizing: border-box;
}

.ProfileAvatarGridItem:hover .ProfileAvatarGridImage {
  z-index: 99;
  display: flex;
}

.ProfileAvatarGridItem:hover .ProfileAvatarGridImage {
  transform: translateY(0rem);
  opacity: 1;
}

.ProfileAvatarGridImageName {
  position: absolute;
  top: -1.5rem;
  left: 0.5rem;
  text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000;
}

.ProfileWrapper {
  /* width: 70rem; */
  width: 100%;
  height: min-content;
  z-index: 0;
  top: 0;
  position: fixed;
  z-index: 2;
}

.ProfileHeaderWrapper {
  width: 100%;
  height: 100vh;
}

/* .ProfileHeader {
  height: calc(100vw / 3);
  width: 100%;
  background-color: var(--Base);
  z-index: -1000;
  position: fixed;
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.5vw;
  border-radius: 0 0 1rem 1rem;
} */

.ProfileHeader {
  height: 100vh;
  width: 100%;
  z-index: -1000;
  position: absolute;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 2.5vh;
  border-radius: 0 0 1rem 1rem;
}

.ProfilePFP {
  position: absolute;
  /* top:calc(-100vw / 3 + (100vw / 6));
  right: 15vw;
  background-color: var(--B);
  position: absolute;
  width: fit-content;
  height: calc(100vw / 4);
  overflow: hidden;
  /* clip-path: polygon(0% 0%, 150% 30%, 75% 100%, 30% 100%); */
  /* transform: rotateY(15deg); */
  /* background-color: azure; */
  border-radius: 0.5rem;
  width: 30vh;
  height: 60vh;
  left: calc(1.25vw + 3.75vh);
  bottom: calc(1.25vw + 3.75vh);
  box-shadow: 0rem 0rem 0.5rem var(--SB);
  overflow: hidden;
  z-index: 1000;
}

.ProfilePFP img {
  z-index: -5;
  bottom: 0vw;
  height: 100%;
  transition: all 10s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translateX(-25vh) scale(1.5);
  /* opacity: 10%; */
}

.ProfilePFPMultiply {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--SBB);
  mix-blend-mode: color-dodge;
  z-index: 1;
  opacity: 0.05;
}

.ProfileIdentity {
  color: var(--Base);
  position: absolute;
  z-index: 1000;
  /* background-color: aliceblue; */
  left: calc(30vh + 1.25vw + 3.75vh + 3.75vh);
  bottom: 30vh;
}

.ProfileName {
  max-width: 70%;
  text-overflow: ellipsis;
  font-family: "Coco";
  text-align: left;
  /* color: var(--B); */
  font-size: 3rem;
  /* position: absolute;
  top: 2rem;
  right: 0; */
  text-shadow: 0rem 0rem 2rem var(--SB);
  letter-spacing: 0.1rem;
}

.Title {
  text-align: left;
  /* color: var(--B); */
  /* position: absolute;
  top: 6rem;
  right: 0; */
  font-size: 2vh;
  text-shadow: 0rem 0rem 0.5rem var(--SB);
  letter-spacing: 0.5rem;
  line-height: 1rem;
}

.ProfileAchievements {
  /* background-color: antiquewhite; */
  height: 25vh;
  width: 97.5vw;
  /* height: calc(100vh - (100vw / 3)); */
  position: relative;
  color: var(--Base);
  /* background-color: var(--Base); */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: relative;
  overflow: hidden;
  margin-bottom: 1.25vw;
  /* border: solid 0.05rem var(--SB); */
  box-shadow: 0rem 0rem 0.5rem var(--SB);
  border-radius: 0.5rem;
  background-color: rgba(28, 18, 35, 0.5);
  backdrop-filter: blur(0.25rem);
  /* background-blend-mode: multiply; */
  /* background-color: antiquewhite;   */
}

.AchievementGrid {
  /* top: 8rem;
  right: 0; */
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  font-size: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  /* overflow: hidden; */
  text-align: left;
  padding: 2.5vh 5vh 5vh calc(30vh + 1.25vw + 3.75vh + 2vh);
  font-size: 1rem;
  text-wrap: pretty;
  /* mix-blend-mode: luminosity; */
  /* background-blend-mode: hard-light; */
  /* background-color: #06576d; */
}

.HeaderBG {
  width: 100%;
  height: 100%;
  z-index: -5000;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* object-fit: cover; */
  background-color: red;
}

.HeaderBG img {
  transition: all 1.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  min-width: 120%;
  min-height: 120%;
  width: 120%;
  height: 120%;
  position: absolute;
  object-fit: cover;
  display: flex;
  transform: scale(1);
  margin: auto;
  position: absolute;
  /* top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto; */
}

.ProfileGapperDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20rem;
}

.AccentHover {
  display: none;
  opacity: 0;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.ProfileSelectorGridItem:hover .AccentHover {
  display: flex;
  opacity: 1;
}

.PLWrapper {
  height: 100vh;
  background-color: var(--B);
  width: 100%;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100%);
  }
}

.BouncingOrb {
  position: absolute;
  right: 1rem;
  bottom: 0.75rem;
  /* background-color: red; */
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  z-index: 1;
  animation: 2s bounce infinite cubic-bezier(0.175, 0.885, 0.32, 0.775);
}

.BGBlack {
  position: absolute;
  z-index: -1;
  background-color: var(--B);
  min-width: 100vw;
  min-height: 100vh;
}

.BadgeGrid {
  width: 100%;
  height: 18rem;
  display: grid;
  grid-template-columns: repeat(6, 9rem);
  justify-items: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  padding-bottom: 2rem;
  /* isolation: isolate; */
}

.BadgeGridItem {
  /* background: var(--SG); */
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  display: flex;
  /* position: absolute; */
  justify-content: center;
  align-items: center;
  /* transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
  will-change: background-color;
  /* opacity: 0.25; */
  /* overflow: hidden; */
  border: var(--SG) 0.1rem solid;
  transition: 2s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: var(--Base);
}

.BadgeGridItem:hover {
  z-index: 99;
  transform: scale(1.3);
  overflow: visible;
  background-color: var(--BB);
}
.BadgeGridItem:hover p,
.BadgeGridItem:hover h3 {
  z-index: 1;
  display: flex;
}
.BadgeGridItem:hover .BadgeItemImage img {
  transform: scale(1.2);
}

.BadgeItemImage {
  position: absolute;
  min-width: 110%;
  min-height: 110%;
  transform: translateZ(0);
  will-change: transform;
  z-index: 2;
}
.BadgeItemImage img {
  position: absolute;
  transform: scale(1.2);
}

.BadgeGridItem p {
  position: absolute;
  display: none;
  font-size: 0.75rem;
  min-width: 125%;
  bottom: -45%;
  text-align: center;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0.25rem;
}

.BadgeGridItem h3 {
  font-weight: normal;
  position: absolute;
  display: none;
  font-size: 1.25rem;
  text-decoration: none;
  top: -1.5rem;
  right: -1rem;
  max-width: 80%;
  text-align: right;
}

.MenuBG {
  position: sticky;
  z-index: 10;
  bottom: 0rem;
  /* margin-top: 100vh; */
  width: 100%;
}

.ProfileStats2 {
  min-height: 10rem;
  gap: 2.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* isolation: isolate; */
  overflow: visible;
  z-index: 3;
}

.LoaderWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  /* border-top: var(--SG) 0.1rem solid;
  border-bottom: var(--SG) 0.1rem solid;
  border-radius: 1rem;
  padding: 1rem;
  height: 7rem;
  width:  8rem; */
  /* background-color: rgba(79, 56, 249, 0.805); */
}

.loader {
  border: 0.2rem solid var(--Base); /* Light grey */
  border-top: 0.2rem solid var(--BB); /* Blue */
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  animation: spin 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
